<!DOCTYPE html>
<html>
    <head>
        <title>Blogz</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
        <style type="text/css">
            .message {
                color: blue;
            }
        </style>
    </head>
    <body>
        <h5>
            <a href="/">Index of Blogs</a>
            <a>*</a>
            <a href="/blog">All Blog Posts</a>
            <a>*</a>
            <a href="/my_blog">My Blog</a>
            <a>*</a>
            <a href="/newpost">Add a Post</a>
            <a>*</a>
            <a href="/logout">Log out</a>
        </h5>
        
        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li class='message'>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>
